<html>
<head>
  <meta charset="utf-8">
  <title>Caesar cipher</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Caesar cipher</h1>
  <form action="index.html" method="get">
    <input type="textarea" name="text" placeholder="Text" autofocus
     <%= "value=\"#{@text.caesar(@shift.to_i)}\"" if @text && @shift %>>
    <input type="text" name="shift" placeholder="Shift" class="small"
     <%= "value=\"#{@shift}\"" if @shift %>>
    <input type="submit" value="Chipher" class="small">
  </form>
</body>
</html>
